<%= form_with(model: article, class: "d-flex flex-column gap-2") do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <%= form.label :title, t('article.fields.title.label'), style: "display: block", class: "input-group-text" %>
    <%= form.text_field :title, placeholder: t('article.fields.title.placeholder'), class: "form-control" %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :preview_img, t('article.fields.main_image'), style: "display: block", class: "input-group-text" %>
    <%= form.file_field :preview_img, class: "form-control" %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :content, t('article.fields.main_content.label'), class: "input-group-text" %>
    <%= form.rich_text_area :content, placeholder: t('article.fields.main_content.placeholder') %>
  </div>

  <div class="input-group mb-3">
    <%= form.submit t('article.buttons.save'), class: "btn btn-secondary" %>
  </div>
<% end %>
